<div id="background_header"></div>
<div id="background_body"></div>


<div id="chatContainer">

  <div id="sidebar">
    <div id="sidebarHeader">

    </div>
    <div id="searchBox">
      <img width="13" src="../assets/images/searchIcon.png" />
      <input type="text" placeholder="Search or start the new chat" />
    </div>
    <div id="sidebarContent">
      <div id="noConversations">

        All chats are archived

      </div>
    </div>
  </div>
  <div id="chat"></div>

</div>


<router-outlet></router-outlet>