/* You can add global styles to this file, and also import other style files */
@import "~@ctrl/ngx-emoji-mart/picker";

body {
  margin: 0px;
  font-family: sans-serif;
  color: #a2a3a4;

  a {
    color: #45bf57;
    text-decoration: none;
  }
}
